html, body, p, button{
	padding: 0;
	margin: 0;
}
body.active{
	background-color: rgba(0,0,0,0.5);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
@font-face {
    font-family: vision-heavy;
    src: url(media/font/Vision-Heavy.otf);
}
@font-face {
    font-family: bariol;
    src: url(media/font/Bariol_Regular.otf);
}
.container{
	height: 600px;
	width: 900px;
	margin:auto;
}
body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "bariol", sans-serif;
}